.wrapperDiscover {
    overflow: auto;
    height: 335px;
    max-width: 940px;
}

.wrapperDiscover > div {
    border: 2px solid #E5E1E1;
    margin-top: 3px;
    background-color: #ECE8E8;
    padding: 8px;
}

.wrapperDiscover > div:hover {
    border: 2px solid #E5E1E1;
    margin-top: 3px;
    background-color: #E5E1E1;
    padding: 8px;
}

#scrollbarDiscover::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#scrollbarDiscover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#scrollbarDiscover::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}
