.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    position: unset;
}

.title {
    color: #ff8800;
    font-size: 18px;
}

.buttonSoundcloud {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #ff8800;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 14px;
    text-decoration: none;
}

.buttonSoundcloud:hover, a:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}
