.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.widgetBtn {
  display: block;
  width: 100%;
  border: none;
  background-color: #dee0e4;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.inputWidget {
  border: 1px solid;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}

.modal-backdrop {
  background-color: transparent;
}

.btn-delete-ic {
  opacity: 0.1;
}

.btn-delete-ic:hover {
  opacity: 100;
}

#btnDelete {
  display: table;
  width: 100%;
  position: absolute !important;
  padding-right: 15px;
  text-align: right;
  top: 10px;
}

.container{
  display: flex;
  border-radius: 5px;
}
.fixed{
  width: 400px;
}
.flex-item{
  flex-grow: 1;
}
