<app-widget-weather-light *ngIf="widget.type === 'widget-weather-light'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-weather-light>
<app-widget-weather-big *ngIf="widget.type === 'widget-weather-big'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-weather-big>
<app-widget-weather-day *ngIf="widget.type === 'widget-weather-day'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-weather-day>
<app-widget-soundcloud-profile *ngIf="widget.type === 'widget-soundcloud-profile'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-soundcloud-profile>
<app-widget-soundcloud-discover *ngIf="widget.type === 'widget-soundcloud-discover'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-soundcloud-discover>
<app-widget-soundcloud-top *ngIf="widget.type === 'widget-soundcloud-top'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-soundcloud-top>
<app-widget-news-subject *ngIf="widget.type === 'widget-news-subject'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-news-subject>
<app-widget-news-region *ngIf="widget.type === 'widget-news-region'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-news-region>
<app-widget-news-media *ngIf="widget.type === 'widget-news-media'" [resizeEvent]="resizeEvent" [widget]="widget"></app-widget-news-media>

